.counters__starts li {
    list-style-type: none;
    width: 20%;
    padding: 0 15px;
    margin-bottom: 40px;
}
@media only screen and (max-width:1199px){
    .counters__starts li {
        width: 33.3333%;
    }
}
@media only screen and (max-width:991px){
    .counters__starts li {
        width: 50%;
    }
}
@media only screen and (max-width:767px){
    .counters__starts li {
        width: 100%;
    }
}
.counters__starts-box{
    background-color: #f5ebe6;
    width: 100%;
    height: 100%;
    padding: 70px 30px 30px;
    position: relative;
    box-shadow: 5px 5px #876585;
    overflow: hidden;
    transform: all 0.3s;
    border-radius: 12px;
}
.counters__starts-box:hover{
    box-shadow: none;
}
@media only screen and (max-width:767px){
    .counters__starts-box{
        padding: 30px 30px;
    }
}
.counters__starts-box__numbers{
    font-size: 48px;
    color: #876585;
    font-weight: 700;
}
.counters__starts-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.3;
}
.counters__starts-icon svg{
    color: #c27b7f;
    opacity: 0.5;
}
.bg-one .counters__starts-box{
    background-color: #fff;
}